<!DOCTYPE html>
<html lang="en" ng-app="root">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="../js/user.js"></script>
</head>
<body>
<h2>AngularJS and Spring Boot RESTful Service Demo using Hibernate on MySQL And Postgres</h2>
    <div ng-controller="MyController">

        <div>
            Insert : <input type="text" ng-model="name">
            <button ng-click="insert(name)">Submit</button>
        </div>
    
            <table>
                <tr ng-repeat="user in users">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>
                        <button ng-click="delete(user.id)">Delete</button>
                    </td>
                </tr>
            </table>
    </div>
</body>
</html>